@{
    Layout = "_Layout";
}


@{

    var name ="윤재일";
    var age = 10;

}

@if(age!=10){
    <h2>@name 님의 나이는 @age 입니다.</h2>

}
else{
<h2>@name 님의 나이를 알수없습니다.</h2>
}

<input type="type" name="name" value="@age" />